# Environment variables for RainyBot

ASPNETCORE_ENVIRONMENT=Development
GEMINI_API_KEY=
RAINYBOT_TOKEN=
DEVBOT_TOKEN=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rainybot
DB_USER=rainybot
DB_PASSWORD=secret
